<ion-header>
  <ion-toolbar>
    <ion-title> This should be dynamic! </ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Library
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>
    <ion-tab-button tab="auth/login">
      <ion-icon name="person"></ion-icon>
      Login
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
